@use '../../lib/service.scss' as s;

.form{ 
	display: flex; 
	flex-direction: column;
	padding: s.space(4);
	gap: s.space(8);

	&__title {
		color:rgb(60, 103, 231);
		font-size: s.space(5);
		font-weight: bold;
		padding-bottom: s.space(1);
		border-bottom: 1px solid s.color('light');
	}

	&__content {
		display: grid;
		gap: s.space(6);
	}

	&__field {
        display: flex;
		flex-direction: column;
		gap: s.space(2);
	}

	&__label {
		font-size: s.space(4);
	}

	&__input {
		border: 1px solid s.color('light');
		padding: s.space(2);
		border-radius: 10px;
	}

	&__label__input{
		display: flex;
		flex-direction: row;
		gap: s.space(4)
	}

	&__button {
		// border: 1px solid s.color('light');
		display: flex;
		flex-direction: row;
		padding: s.space(2);
		
		
		// max-width: fit-content;
		gap: s.space(4)
}
	.btn-primary{
		display: inline;
		flex-direction: row;
	    color: #fff;
		text-decoration: none;
		background-color: rgb(18, 129, 247);
		border: 1px solid #ddd;
		padding: 12px;
		gap:12px;
		border-radius:10px;
		width: 350px;
		}
	
	.btn-danger{
	    color: #fff;
		text-decoration: none;
		background-color: rgb(245, 9, 9);
		border: 1px solid #ddd;
		padding: 12px;
		gap:12px;
		border-radius:10px;
		width: 350px;
	}	
	
}

main{
	display: flex;
	flex-direction: column;
	gap: s.space(10);
}

.user__list{
	li{
padding-right: 15px;
padding-top: 5px;
padding-bottom: 5px;
	}
}