{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<div>
  <h1>{{info}}</h1>

  <button class='btn-primary'><a
      href='/product-delete'
      class='btn'
    >Повернутися назад</a></button>

</div>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}