{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
<main class="main">

  {{#with data}}
     <form method="GET" action="/purchase-edit?id={{data.id}}" class='form'>

     {{> heading title="Змінна даних"}}

     {{> divider}}

	 {{> field label="Iм'я" name="firstname"}}
	 {{> field label="Прізвище" name="lastname"}}
	 {{> field label="Телефон" name="phone"}}
	 {{> field label="Пошта" name="email"}}
	

	 {{> divider}}

	 {{> button text="Змінити дані"}}

    </form>
  {{/with}}

</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}